
<div id="banner">
  <div class="banner_content">
    <br><br>
    <h1>Web Notes</h1>
    <p>Don't forget anything.</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
    
  </div>
</div>

